
<ngx-y2-player
  #video
  [playerOptions]="playerOptions"
  (ready)="onReady($event)"
  (change)="onStateChange($event)">
</ngx-y2-player>
<div>
  <button (click)="pause()"> pause </button>
  <button (click)="play()"> play </button>
  <button (click)="stop()"> stop </button>

  <input type="text" #input value="3600">
  <button (click)="go(input.value)"> go </button>
</div>


<h2>you can look state change in the console</h2>
<a href="https://developers.google.com/youtube/iframe_api_reference#Playback_controls">IFrame Player API
</a>
